.card-item {
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  transition: .6s;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--checked {
    background-color: rgba($success-color, .2);
    box-shadow: none;
    .product-card {
      &__image {
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 5px 5px 0 0;
      }
      &__number {
        color: white;
        background-color: $success-color;
      }
    }
  }
}